@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gluten:wght@300&display=swap");
body.preload * {
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gluten", cursive;
}

:root {
  --main-color: rgb(229, 27, 35);
  --dark-color: rgb(245, 128, 128);
  --hover-color: rgb(255, 225, 225);
  --nav-height: 4rem;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

.home-page > section:nth-child(2n),
.menu-page > section:nth-child(2n+3) {
  background-color: rgb(245, 245, 245);
}

.home-page,
.menu-page,
.event-page {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.home-page section,
.menu-page section,
.event-page section {
  overflow: hidden;
}
.home-page header,
.menu-page header,
.event-page header {
  flex: 1 1 100%;
  text-align: center;
}
.home-page header h1,
.menu-page header h1,
.event-page header h1 {
  color: var(--main-color);
}
.home-page header p,
.menu-page header p,
.event-page header p {
  color: var(--main-color);
}

.overall-wrapper {
  display: flex;
  flex-direction: row;
  width: 300%;
}

.home-page {
  order: 1;
}

.menu-page {
  order: 3;
}

.event-page {
  order: 3;
}

.main-hidden {
  height: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  max-width: 80rem;
  padding: 6em 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1rem;
}

h1 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

.btn {
  flex: 1 1 100%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--dark-color);
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: var(--hover-color);
}

.text-box {
  position: relative;
  display: flex;
  margin: auto;
  overflow: hidden;
  line-height: 1.5em;
  color: rgb(49, 49, 49);
}
.text-box span {
  color: var(--main-color);
}

.image-box {
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.nav {
  position: relative;
  z-index: 999;
  transition: height 1s;
  height: var(--nav-height);
}
.nav__wrapper {
  display: flex;
  height: 100%;
  background-color: var(--main-color);
}

.nav-cover {
  height: 100vh;
  transition: height 0s;
  min-height: 40rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  transition-property: left, transform, top, height;
  transition-delay: 0.4s, 0.4s, 0s, 0s;
  transition-duration: 0.8s;
  height: var(--nav-height);
}
.logo img {
  height: 100%;
}

.logo-resize {
  height: 5em;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.links {
  display: flex;
  margin: 0 0 0 auto;
}
.links li {
  display: flex;
  width: 8em;
  height: var(--nav-height);
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.4s;
}
.links li:hover {
  background-color: rgba(255, 197, 197, 0.822);
}

.links.nav-cover-on {
  display: flex;
  margin: auto;
  transform: translateY(100%);
}

.nav-side {
  display: none;
  margin: auto 1rem auto auto;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nav-side:hover {
  background-color: rgba(51, 51, 51, 0.219);
}

.nav-side-icon {
  position: relative;
  margin: auto;
  width: 1.5rem;
  height: 1rem;
}
.nav-side-icon span {
  position: absolute;
  padding: 0.1rem;
  background-color: white;
  border-radius: 2rem;
  transition-property: top, transform;
  transition-duration: 0.5s;
  left: 0;
  right: 0;
}
.nav-side-icon span:nth-child(1) {
  top: 0;
}
.nav-side-icon span:nth-child(2) {
  transform: translateY(-50%);
  top: 50%;
}
.nav-side-icon span:nth-child(3) {
  transform: translateY(-100%);
  top: 100%;
}
.nav-side-icon span:nth-child(1).side-icon-transition0 {
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
}
.nav-side-icon span:nth-child(2).side-icon-transition1 {
  transform: translateY(-50%) rotateZ(135deg);
}
.nav-side-icon span:nth-child(3).side-icon-transition2 {
  top: 50%;
  transform: translateY(-50%) rotateZ(-45deg);
}

.nav-side-actived {
  background-color: rgba(51, 51, 51, 0.219);
}

.nav-side-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 4rem;
}

.nav-side-links {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: whitesmoke;
  padding: 1rem;
  width: 70%;
  transition: transform 0.5s;
}
.nav-side-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-side-links li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid rgb(211, 211, 211);
  justify-content: center;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  transition: background-color 0.4s;
}
.nav-side-links li:hover {
  background-color: var(--dark-color);
}

.nav-side-actiavted {
  transform: translateX(-100%);
}

.nav-side.nav-cover-on {
  display: none;
}

.screen-disable {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.397);
  z-index: 998;
}

.home-intro .image-box {
  width: 20em;
  height: 20em;
}
.home-intro__btn {
  display: flex;
  justify-content: right;
  font-variant-caps: all-small-caps;
  flex: 1 1 100%;
  gap: 0.5rem;
}
.home-intro__btn p {
  transition: background-color 0.5s;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.home-intro__btn p:hover {
  background-color: var(--hover-color);
}
.home-intro .text-box {
  border-radius: 1rem;
  padding: 2rem;
  color: white;
}
.home-intro .text-box p {
  z-index: 2;
}
.home-intro__text-bg span {
  position: absolute;
  top: -100%;
  width: 20%;
  height: 100%;
  background-color: rgb(243, 212, 212);
  z-index: 1;
}
.home-intro__text-bg span:first-child {
  left: 0;
}
.home-intro__text-bg span:nth-child(2) {
  left: 20%;
}
.home-intro__text-bg span:nth-child(3) {
  left: 40%;
}
.home-intro__text-bg span:nth-child(4) {
  left: 60%;
}
.home-intro__text-bg span:last-child {
  left: 80%;
}
.home-intro__text-bg .spanfade0,
.home-intro__text-bg .spanfade1,
.home-intro__text-bg .spanfade2,
.home-intro__text-bg .spanfade3,
.home-intro__text-bg .spanfade4 {
  background-color: var(--dark-color);
  top: 0;
  transition-property: top, background-color;
  transition-duration: 0.6s;
}
.home-intro__text-bg .spanfade0 {
  transition-delay: 0s;
}
.home-intro__text-bg .spanfade1 {
  transition-delay: 0.1s;
}
.home-intro__text-bg .spanfade2 {
  transition-delay: 0.2s;
}
.home-intro__text-bg .spanfade3 {
  transition-delay: 0.3s;
}
.home-intro__text-bg .spanfade4 {
  transition-delay: 0.4s;
}

.home-menu .wrapper,
.home-about-us .wrapper,
.home-hire .wrapper {
  gap: 2rem;
}
.home-menu .text-box,
.home-about-us .text-box,
.home-hire .text-box {
  flex: 1 1 50%;
  flex-direction: column;
  gap: 2rem;
  transition-property: opacity, transform;
  transition-duration: 1s;
  pointer-events: none;
}
.home-menu .text-box,
.home-about-us .text-box,
.home-hire .text-box {
  opacity: 0.5;
}
.home-menu .image-box,
.home-about-us .image-box,
.home-hire .image-box {
  opacity: 0.5;
  width: 20em;
  height: 20em;
  transition-property: opacity, transform;
  transition-duration: 0.8s;
}

.home-menu .image-box,
.home-hire .image-box {
  transform: translateX(-50%);
}
.home-menu .text-box,
.home-hire .text-box {
  transform: translateX(20%);
}

.home-about-us .wrapper {
  flex-direction: row-reverse;
}
.home-about-us .image-box {
  transform: translateX(50%);
}
.home-about-us .text-box {
  transform: translateX(-20%);
}

.home-menu .transform-box,
.home-about-us .transform-box,
.home-hire .transform-box {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.home-location .wrapper {
  gap: 2rem;
}
.home-location .text-box {
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  text-align: center;
}

.menu-intro {
  border-bottom: 0.2rem dashed var(--dark-color);
}
.menu-intro header {
  padding: 1rem 0;
  flex: none;
  margin: auto;
}
.menu-intro .text-box {
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--dark-color);
  border-radius: 2rem;
  color: white;
  max-width: 40rem;
}
.menu-intro .text-box span {
  display: block;
  color: rgb(41, 75, 150);
}

.menu .wrapper {
  flex-direction: column;
}
.menu .wrapper section {
  padding: 2rem 0;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 0.2rem dashed var(--dark-color);
}

.menu-price {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1rem;
  width: 10rem;
  flex: 1 1 100%;
}
.menu-price h3 {
  flex: 1 1 100%;
  text-align: center;
}
.menu-price .text-box:nth-of-type(1) {
  margin: 0 0 0 auto;
  text-align: left;
}
.menu-price .text-box:nth-of-type(2) {
  margin: 0 auto 0 0;
  text-align: right;
}

.item-box:nth-of-type(2) .text-box:nth-of-type(1) {
  margin: auto;
  text-align: center;
}

.items {
  display: flex;
  flex: 0 0 20%;
  border-radius: 2rem;
  transition: background-color 0.5s;
  cursor: pointer;
  flex-direction: column;
}
.items:hover {
  background-color: var(--hover-color);
}
.items .image-box {
  margin-top: 1rem;
  position: relative;
  width: 90%;
  padding: 90% 0 0 0;
  height: auto;
}
.items .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  filter: saturate(80%);
}
.items h2 {
  font-size: 1em;
  text-align: center;
  margin: 1rem 0;
}

.items.item-background {
  background-color: var(--dark-color);
}

.menu-total {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
  background-color: rgb(250, 250, 250);
  border-radius: 2rem;
}
.menu-total h3 {
  flex: 1 1 100%;
  text-align: center;
}
.menu-total .text-box {
  flex-direction: column;
  gap: 1rem;
}
.menu-total .text-box:nth-of-type(1) {
  max-width: 12rem;
  margin: 0 2rem 0 auto;
  text-align: left;
}
.menu-total .text-box:nth-of-type(2) {
  margin: 0 auto 0 2rem;
  text-align: right;
}
.menu-total .text-box:nth-of-type(3) {
  flex: 1 1 100%;
  text-align: center;
}

#item-name,
#item-price {
  font-size: 1.2em;
}

.menu-event {
  display: flex;
  flex-wrap: wrap;
}
.menu-event .wrapper {
  gap: 2rem;
}
.menu-event .image-box {
  width: 20em;
  height: 20em;
}
.menu-event .text-box {
  flex: 1 1 40%;
  flex-direction: column;
  gap: 1rem;
}

.event-intro .wrapper {
  padding: 0em 0;
}
.event-intro .text-box {
  background: linear-gradient(45deg, rgba(48, 48, 48, 0.808) 16rem, transparent 0%, transparent 85%, rgba(48, 48, 48, 0.808) 1rem);
  width: 100%;
  height: 30rem;
  line-height: 1.5rem;
  position: relative;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-end;
}
.event-intro h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: white;
}
.event-intro p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 900;
}
.event-intro .bg-image {
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  background-image: url(../imgs/event_intro.jpg);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.event-list .wrapper {
  gap: 2rem;
}
.event-list section {
  display: flex;
  flex-wrap: wrap;
}
.event-list .image-box {
  flex: 1 1 30%;
  border-radius: 0;
  min-width: 20rem;
  height: 20rem;
}
.event-list h2 {
  color: var(--dark-color);
}
.event-list .text-box {
  flex: 1 1 50%;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: rgb(248, 248, 248);
  min-height: 20rem;
}

.footer {
  background-color: rgb(26, 26, 26);
}
.footer .wrapper {
  padding: 1rem;
  gap: 0.5rem;
  flex-direction: column;
}
.footer .image-box {
  border-radius: 0;
}
.footer img {
  width: 10rem;
}
.footer p {
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(192, 192, 192);
}
.footer .copy-right {
  justify-content: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 0.8rem;
  }
  .links {
    display: none;
  }
  .nav-side {
    display: flex;
  }
  .home-intro__btn {
    justify-content: center;
  }
  .items {
    flex: 0 0 25%;
  }
  .event-list .image-box {
    height: 15rem;
  }
  .event-list .text-box {
    flex: 1 1 100%;
    min-height: auto;
  }
}
@media screen and (max-width: 693px) {
  .wrapper {
    padding: 6em 1rem;
  }
  .home-menu .image-box,
.home-about-us .image-box,
.home-hire .image-box {
    transform: translateX(0);
  }
  .home-menu .text-box,
.home-about-us .text-box,
.home-hire .text-box {
    transform: translateX(0) translateY(100%);
    flex: 1 1 100%;
  }
  .home-menu .transform-box,
.home-about-us .transform-box,
.home-hire .transform-box {
    transform: translateY(0);
  }
  .menu-event .text-box {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 500px) {
  .items {
    flex: 0 0 50%;
  }
  .menu-total .text-box:nth-of-type(1) {
    margin: 0 auto 0 2rem;
    flex: 1 1 100%;
    text-align: left;
  }
  .menu-total .text-box:nth-of-type(2) {
    flex: 1 1 100%;
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */